


.navbar{
    background-color: #073e6b;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    position: flex;


}
.navbar-brand{
    color: #e2dbdb;
    font-weight: 100;
    text-transform: uppercase;
}

.navbar-nav li a{
    color: #f3e9e9;


}

.navbar-nav li a:hover{
    color: #ffffff;
    background-color: #0a5a9c;
}

.dropdown-item{
    background-color: #34a4db;


}
 .btn{
    background-color: #34a4db;
    border-color: #34a4db;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
 }

 .nav-link{
    color: #0f0202;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
 }

  .nav-link:hover{
      color: #ffffff;
      background-color: #0a5a9c;
  }


  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .sidebar-sticky {
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .main {
    padding-top: 48px;
  }


