
<div class="subnabar text">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="menu"
        ><fa-icon [icon]="faBasketball"></fa-icon
      ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="home" ><fa-icon [icon]="faHockeyPuck"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><fa-icon [icon]="faFootball"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><fa-icon [icon]="faFutbol"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><fa-icon [icon]="faVolleyball"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><fa-icon [icon]="faTableTennis"></fa-icon
      ></a>
    </li>
  </ul>
</div>
