.subnabar{
  background-color: #0a5a9c;
  padding: 20px;
  margin: 0px;
  top: 100px;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width:100%;
  left: 220px;
  position: flex;

}

.subnabar li a{
  color: #faf8f8;
}

.subnabar li a:hover{
  color: #0e0c0c;
  background-color: #051a2b;
}

.offcanvas {
  background-color: #051a2b;
  color: #faf8f8;

}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #faf8f8;
  background-color: #051a2b;
  border-color: #051a2b #051a2b #051a2b;
}
.nav-tabs .nav-link:hover {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #faf8f8;
  background-color: #051a2b;
  border-color: #051a2b #051a2b #051a2b;

}
