<div class="card">
  <h5 class="card-header text-center">Historial</h5>
  <div class="card-body">
<form class="row gx-3 gy-2 align-items-center">
  <div class="col-sm-2">
    <label class="visually-hidden">Fecha de Rango</label>
    <select class="form-select" >
      <option selected>Feacha de Rango</option>
      <option value="1">Today</option>
      <option value="2">yesterday</option>
      <option value="3">Last 7 Days</option>
      <option value="4">Last 30 Days</option>
      <option value="5">Custom Range</option>
    </select>
  </div>
  <div class="col-sm-2">
    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
    <select class="form-select" id="inlineFormSelectPref">
      <option selected>Deporte</option>
      <option value="1">soccer</option>
      <option value="2">Basquetbol</option>
      <option value="3">Futbol</option>
      <option value="4">Baloncesto</option>
    </select>
  </div>
  <div class="col-sm-2">
    <select class="form-select" id="inlineFormSelectPref">

      <option selected>Estado</option>
      <option value="1">ganado</option>
      <option value="2">Apuesta Retirada</option>
      <option value="3">Perdido</option>
      <option value="4">Pendiente</option>
      <option value="5">Nulo</option>
    </select>
  </div>


  <div class="col-sm-2">
    <button type="submit" class="btn btn-primary">Expandir Parlays</button>
  </div>
  <div class="col-1">
    <button type="submit" class="btn btn-secondary">Buscador</button>
  </div>

</form>
</div>
