<div class="offcanvas offcanvas-start" tabindex="1" id="submenu1">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><fa-icon [icon]="faGear"></fa-icon></h5>
    <button type="button" class="btn-close" data-bs-dismiss="" aria-label="Cerrar"></button>

  </div>

 <h6>Aplicar atodas las apuestas:</h6>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="#">$150</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">$300</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">$750</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">$1050</a>
    </li>
    <br>
    <p>Clickea cualquier posibilidad en la que deseas apostar, y se agregara a tu hoja de apuestas</p>
    <br>
    <p>
      Cantidad en USD.</p>
  </ul>



