<div class="offcanvas offcanvas-end" tabindex="1" id="submenu1">
  <div class="offcanvas-header">
    <mat-tab-group>
      <mat-tab label="Apuestas">
        <h6>Aplicar atodas las apuestas:</h6>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">$150</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">$300</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">$750</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">$1050</a>
          </li>
          <br />
          <p>
            Clickea cualquier posibilidad en la que deseas apostar, y se agregara a tu
            hoja de apuestas
          </p>
          <br />
          <p>Cantidad en USD.</p>
        </ul>
      </mat-tab>
      <mat-tab label="Mis Apuestas">POR FAVOR INGRESE A SU CUENTA PARA REALIZAR APUESTAS</mat-tab>
      <mat-tab label="mas ajustes"></mat-tab>



      
    </mat-tab-group>



  </div>



