
/**/
.subnabar{
  background-color: #0a5a9c;
  padding: 20px;
  margin: 0px;
  top: 100px;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width:100%;
  left: 220px;
  position: flex;

}

.subnabar li a{
  color: #faf8f8;
}

.subnabar li a:hover{
  color: #0e0c0c;
  background-color: #051a2b;
}

.card {
  background-color: #ffffff;
  border: 1px solid #041935;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  position: flex;
  top: 10%;
  width: 100%;
}

.card-header{
  background-color: #061a33;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

}

.form-control{
position: flex;
  background-color: #a6bad4;
  color: #0f0e0e;
  width: 20%;
 left: 50px;

}



.offcanvas{

  background-color: #04203d;
  color: #ffffff;
  width: 20%;

}

.offcanvas-header{
  background-color: #041935;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}






.wrapper.toggled {
  padding-right: 250px;
}

.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper.toggled #sidebar-wrapper {
  width: 250px;
}


.form-select{
  background-color: #bbbdcfe8;
  color: #0f0e0e;
  width: 20%;


}

.odds{
  border: 1px solid #44566d;
  box-shadow: none;
  background-color: #ceecf3;
  color: #0f0e0e;
  width: 20%;
  height: 30px;
  position:relative;
  left:350px;
  top: -150px;


}





