<!-- Botón para abrir el menú -->



<!-- Menú lateral -->
<div class="offcanvas offcanvas-start" tabindex="1" id="sidebar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Live_Sport</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss=""
      aria-label="Cerrar"
    ></button>
  </div>
  <div class="offcanvas-body">
    <a
      href="#"
      class="d-flex align-items-center text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="d-none d-sm-inline mx-1">Todos los Eventos</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">Todos los eventos</a></li>
      <li><a class="dropdown-item" href="#">Recien iniciado (15Min)</a></li>
      <li><a class="dropdown-item" href="#">Recien iniciado (60Min)</a></li>
    </ul>
    <li>
      <a
        href="#submenu"
        data-bs-toggle="collapse"
        class="nav-link align-middle"
        ><fa-icon [icon]="faBasketball"></fa-icon>
        <span class="ms-1 d-none d-sm-inline">Basquetbol</span>
      </a>

      <ul
        class="collapse nav flex-column ms-1"
        id="submenu"
        data-bs-parent="#menu"
      >
        <li></li>
        <li>
          <a href="#submenu2" data-bs-toggle="collapse" class="nav-link">
            <span class="ms-1 d-none d-sm-inline">Brasil</span></a
          >
          <ul
            class="collapse nav flex-column ms-1"
            id="submenu2"
            data-bs-parent="#menu"
          >
            <li class="w-100">
              <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline">NBB</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="#submenu3" data-bs-toggle="collapse" class="nav-link">
            <span class="ms-1 d-sm-inline">Cuba</span></a
          >
          <ul
            class="collapse nav flex-column ms-1"
            id="submenu3"
            data-bs-parent="#menu"
          >
            <li class="w-100">
              <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline"> CHAMPIONSHIP WOMEN</span></a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="#submenu4" data-bs-toggle="collapse" class="nav-link">
            <span class="ms-1 d-none d-sm-inline">España</span></a
          >
          <ul
            class="collapse nav flex-column ms-1"
            id="submenu4"
            data-bs-parent="#menu"
          >
            <li class="w-100">
              <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline"> LEB ORO</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="#submenu8" data-bs-toggle="collapse" class="nav-link">
            <span class="ms-1 d-none d-sm-inline">Estados Unidos</span></a
          >
          <ul
            class="collapse nav flex-column ms-1"
            id="submenu8"
            data-bs-parent="#menu"
          >
            <li class="w-100">
              <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline"
                  >Baloncesto universitario</span
                ></a
              >
              <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline"
                  >Baloncesto universitario F</span
                ></a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="#submenu5" data-bs-toggle="collapse" class="nav-link">
            <span class="ms-1 d-none d-sm-inline">Inglaterra</span></a
          >
          <ul
            class="collapse nav flex-column ms-1"
            id="submenu5"
            data-bs-parent="#menu"
          ></ul>
        </li>
        <li>
          <a href="#submenu6" data-bs-toggle="collapse" class="nav-link">
            <span class="ms-1 d-none d-sm-inline t">Islandia</span></a
          >
          <ul
            class="collapse nav flex-column ms-1"
            id="submenu6"
            data-bs-parent="#menu"
          ></ul>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#submenu7"
        data-bs-toggle="collapse"
        class="nav-link align-middle"
        ><fa-icon [icon]="faHockeyPuck"></fa-icon>
        <span class="ms-1 d-none d-sm-inline">Hockey</span>
      </a>
    </li>

    <li>
      <a
        href="#submenu8"
        data-bs-toggle="collapse"
        class="nav-link align-middle"
        ><fa-icon [icon]="faFootball"></fa-icon>
        <span class="ms-1 d-none d-sm-inline">Football</span>
      </a>
    </li>
    <li>
      <a
        href="#submenu9"
        data-bs-toggle="collapse"
        class="nav-link align-middle"
        ><fa-icon [icon]="faFutbol"></fa-icon>
        <span class="ms-1 d-none d-sm-inline">Soccer</span>
      </a>
    </li>
    <li>
      <a
        href="#submenu10"
        data-bs-toggle="collapse"
        class="nav-link align-middle"
        ><fa-icon [icon]="faVolleyball"></fa-icon>
        <span class="ms-1 d-none d-sm-inline">Volleyball</span>
      </a>
    </li>
    <li>
      <a
        href="#submenu11"
        data-bs-toggle="collapse"
        class="nav-link align-middle"
        ><fa-icon [icon]="faTableTennis"></fa-icon>
        <span class="ms-1 d-none d-sm-inline">Tennis</span>
      </a>
    </li>
  </div>
</div>
