<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="dropdown pb-4">
        <a
          href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="d-none d-sm-inline mx-1">Todos los Eventos</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">Todos los eventos</a></li>
          <li><a class="dropdown-item" href="#">Recien iniciado (15Min)</a></li>
          <li><a class="dropdown-item" href="#">Recien iniciado (60Min)</a></li>
        </ul>
        <li>
          <a href="#submenu1" data-bs-toggle="collapse" class="nav-link  align-middle ">
           <span class="ms-1 d-none d-sm-inline text-white">Basquetbol</span> </a>
          <ul class="collapse  nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li>
               <li>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link">
                  <span class="ms-1 d-none d-sm-inline text-white">Brasil</span></a>
                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">NBB</span></a>
                    </li>

                </ul>
            </li>
             <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link">
                  <span class="ms-1  d-sm-inline text-white">Cuba</span></a>
                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-indigo"> CHAMPIONSHIP WOMEN</span></a>
                    </li>

                </ul>
                <li>

                  <a href="#submenu4" data-bs-toggle="collapse" class="nav-link">
                    <span class="ms-1 d-none d-sm-inline text-white">España</span></a>
                  <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"> LEB ORO</span></a>
                      </li>

                  </ul>
                </li>
                <li>

                  <a href="#submenu8" data-bs-toggle="collapse" class="nav-link">
                    <span class="ms-1 d-none d-sm-inline text-white">Estados Unidos</span></a>
                  <ul class="collapse nav flex-column ms-1" id="submenu8" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Baloncesto universitario</span></a>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Baloncesto universitario F</span></a>

                      </li>

                  </ul>
                <li>

                  <a href="#submenu5" data-bs-toggle="collapse" class="nav-link">
                    <span class="ms-1 d-none d-sm-inline text-white">Inglaterra</span></a>
                  <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu"></ul>

                </li>
                <li>

                  <a href="#submenu6" data-bs-toggle="collapse" class="nav-link">
                    <span class="ms-1 d-none d-sm-inline t">Islandia</span></a>
                  <ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">

                  </ul>
              </li>
              </ul>










      </div>
    </div>
  </div>
</div>
